### Question no.1

In [1]:
a=0
def b():
    global a
    a=c(a)
    
def c(a):
    return a+2

b()
b()
b()
a

6

6 is displayed when the last expression (a) is executed. When b() is executed for the first time, the value of 'a' is 2 as c() function is called and when b() is executed for the second time, the value of 'a' is 4 and finally, when b() is executed 'a' holds the value of 6 as 2 is added to it's preceeding value i.e. 4.

### Question no.2

In [12]:
def file_length(f):
    try:
        file = open(f,'r')
        contents = file.read()
        print('The given file length is : ' + str(len(contents)))
        file.close()
    except FileNotFoundError:
        print('File '+f+' not found.')
        
file_length('midterm.ipynb')
file_length('idterm.py')

The given file length is : 813
File idterm.py not found.

### Question no.3

In [14]:
class Marsupials:
    def __init__(self):
        self.myList = []
        
    def put_in_pouch(self, item):
        self.myList.append(item)
        
    def pouch_contents(self):
        return self.myList
    
m = Marsupials()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()


class Kangaroo(Marsupials):
    def __init__(self,x,y):
        Marsupials.__init__(self)
        self.x = x
        self.y = y
        
    def jump(self,dx,dy):
        self.x = self.x + dx
        self.y = self.y + dy
        
    def __str__(self):
        return 'I am a Kagaroo located at coordinates ({},{})'.format(self.x,self.y)

k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kagaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kagaroo located at coordinates (3,0)

### Question no.4

In [4]:
def collatz(x):
    if x != 1:
        if x%2!= 0:
            print(int(x))
            collatz(3*x+1)
        else:
            print(int(x))
            collatz(x/2)
    else:
        print(int(x))
        
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

### Question no.5

In [4]:
def binary(decimal):
    if decimal>0:
        return (decimal % 2 + 10*binary(int(decimal //2)))
    else:
        return 0
    
binary(0)
binary(1)
binary(3)
binary(9)

1001

### Question no.6

In [2]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.intend = ''
        self.head = 0
        
    def handle_starttag(self, tag, attrs):
        if tag[:-1]=='h':
            self.head = 'type'
            
    def handle_data(self, data):
        if self.head=='type':
            print(self.intend+data)
            self.intend+= ''
            self.head = 0

infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
Principles

### Question no.7

In [25]:
from html.parser import HTMLParser
from urllib.request import urlopen
from urllib.parse import urljoin

class collector(HTMLParser):
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
        
    def append(self):
        return self.links
    
    def handle_starttag(self, tag, attributes):
        for attr in attributes:
            if attr[0] == 'href':
                mylink = urljoin(self.url, attr[1])
                if mylink[:4] == 'http':
                    self.links.append(mylink)

class urlcollector(collector):
    def handle_starttag(self, tag, atributes):
        if tag =='a':
            for attr in attributes:
                if attr[0] == 'href':
                    url = url.join(self.url, attr[1])
                    if url not in self.links:
                        self.links.append(url)
                        
                        
def webdir(url, depth, i):
    depth = depth -1
    print(i*' ', url)
    
    objective = urlopen(url).read().decode()
    collection = collector(url)
    collection.feed(objective)
    urls = collection.append()
    
    links = urls
    i = i+4
    
    for link in links:
        if depth < 0 or i < 0:
            return 1
        else:
            webdir(link, depth, i)
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
     http://reed.cs.depaul.edu/lperkovic/test2.html
         http://reed.cs.depaul.edu/lperkovic/test4.html
     http://reed.cs.depaul.edu/lperkovic/test3.html
         http://reed.cs.depaul.edu/lperkovic/test4.html

### Question  no.8

In [1]:
import sqlite3
conn = sqlite3.connect('database.db')
cur = conn.cursor()
cur.execute("CREATE TABLE Climate (City, Country, Season, Temperature, Rainfall)")

In [3]:
cur.execute("INSERT INTO Climate VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO Climate VALUES('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO Climate VALUES('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO Climate VALUES('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO Climate VALUES('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO Climate VALUES('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO Climate VALUES('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO Climate VALUES('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO Climate VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO Climate VALUES('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO Climate VALUES('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO Climate VALUES('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

In [5]:
cur.execute("SELECT Temperature FROM Climate")
for record in cur:
    print(record)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [6]:
cur.execute("SELECT DISTINCT City FROM Climate")
for record in cur:
    print(record)

('Mumbai',)
('London',)
('Cairo',)

In [7]:
cur.execute("SELECT * FROM Climate where Season = 'Fall'")
for record in cur:
    print(record)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [12]:
cur.execute("SELECT * FROM Climate where Country = 'India'")
for record in cur:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [10]:
cur.execute("SELECT City, Country FROM Climate where Season = 'Fall' AND Temperature > 20 ORDER BY Temperature DESC")
for record in cur:
    print(record)

('Mumbai', 'India')
('Mumbai', 'India')
('Cairo', 'Egypt')

In [14]:
cur.execute("SELECT City, Country, Season FROM Climate where Rainfall >200 AND Rainfall<400")
for record in cur:
    print(record)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

In [16]:
cur.execute("SELECT SUM(Rainfall) FROM Climate where City = 'Cairo'")
annual_rainfall = cur.fetchall()
print(annual_rainfall)

[(27.6,)]

In [18]:
cur.execute("SELECT SUM(Rainfall), Season FROM Climate GROUP BY Season")
for record in cur:
    print(record)

(1133.5, 'Fall')
(378.09999999999997, 'Spring')
(3412.9, 'Summer')
(443.7, 'Winter')

### Question no.9

In [3]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[w.upper() for w in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [21]:
[w.lower() for w in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [22]:
[len(w) for w in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [6]:
[[w.upper(),w.lower(),len(w)] for w in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [5]:
[w for w in words if len(w) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']